@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no {
  display: none;
}

button {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  color: #5443c3;
  outline: none;
  border-radius: 40px;
  background: #fff;
}

.rev {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  background: #5443c3;
  outline: none;
  border-radius: 40px;
  color: #fff;
}

.actionBtn--loading {
  opacity: 0.4;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.actionBtn--loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid grey;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.error {
  background: #ff41417c;
  border: 1px solid #ff00007c;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

nav {
  text-align: center;
  padding: 20px 0;
  background: #5443c3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

nav img {
  height: 40px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .nav-links .nav-link {
  color: #fff;
}

nav .nav-links .active-link {
  border-bottom: 3px solid white;
}

.left-bar {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #5443c3;
}

.left-bar .logo {
  width: 300px;
}

.left-bar .art {
  width: 400px;
}

input {
  outline: none;
  border: 1px solid #5443c3;
  padding: 10px;
  font-size: 15px;
  border-radius: 30px;
  margin: 5px;
}

.SignUp {
  text-align: center;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.SignUp .main-signup {
  width: 70%;
  margin: 0 auto;
  padding: 5%;
}

.SignUp .main-signup .signup-form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.SignUp .main-signup .signup-form label {
  font-weight: 600;
  padding-left: 15px;
}

.Login {
  text-align: center;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.Login .main-login {
  width: 70%;
  margin: 0 auto;
  padding: 5%;
}

.Login .main-login .login-form {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Login .main-login .login-form label {
  font-weight: 600;
  padding-left: 15px;
}

.Dashboard {
  margin: 3% 10%;
}

.Dashboard h3 {
  font-weight: 600;
}

.Dashboard h1 {
  font-weight: 600;
  font-size: 3rem;
}

.Dashboard .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Dashboard table {
  overflow-x: auto;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.Dashboard table thead tr {
  color: #5443c3;
}

.Dashboard table thead th {
  margin: 0 auto;
}

.Dashboard table tbody .qty-box,
.Dashboard table tbody .price-box {
  width: 50px;
}

.Dashboard table tbody .name-box {
  width: 90px;
}

.Dashboard .add-form {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Profile {
  margin: 3% 10%;
}

.Profile h3 {
  font-weight: 600;
}

.Profile h1 {
  font-weight: 600;
  font-size: 3rem;
}

.Profile .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.Profile .container .static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Profile .container .edit-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Profile .container .edit-details label {
  font-weight: 600;
  padding-left: 15px;
}

.Profile .container .edit-details .save {
  max-width: 30%;
  margin-top: 10px;
}

.Home .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.Home .header .left {
  padding: 20%;
}

.Home .header .left h1 {
  margin-bottom: 20px;
}

.Home .header .left p {
  margin-bottom: 30px;
}

.Home .header .right {
  margin: 0 auto;
}

.Home .header .right img {
  height: 500px;
}

.Home .main-body {
  text-align: center;
}

.Home .main-body .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.Home .main-body .items .item {
  background: #946dff;
  border-radius: 30px;
  width: 300px;
}

.Home .main-body .items .item img {
  border-radius: 30px 30px 0 0;
}

.Home .main-body .items .item p {
  padding: 30px;
}

.Home .main-body .features h1 {
  margin: 40px 0;
}

.Home .main-body .about-us {
  margin-bottom: 40px;
}

.Home .main-body .about-us h1 {
  padding: 40px 0;
}

.Home .main-body .about-us .desc {
  margin-bottom: 40px;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5443c3;
  padding: 0px;
  color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  .SignUp {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .left-bar {
    display: none;
  }
  .Login {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .add-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset !important;
    -ms-flex-align: unset !important;
    align-items: unset !important;
  }
  .Profile .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .Profile .container .static {
    margin: 40px 0;
  }
  .Home .header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .Home .header .left {
    padding: 10%;
  }
  .Home .header .right img {
    height: 300px;
  }
  .Home .item {
    margin-bottom: 20px;
  }
  .Home .about-us .desc {
    padding: 5%;
  }
  nav {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */
